---
http_interactions:
- request:
    method: get
    uri: https://epok.buenosaires.gob.ar/getCategorias/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"categorias": [{"nombre": "Academias de Espa\u00f1ol", "nombre_normalizado":
        "academias_de_espanol", "tipo_de_geometria": "POINT", "fuente": "Gerencia
        de Comunicaci\u00f3n - Ente de Turismo", "fecha_de_relevamiento": "Julio de
        2023", "descripcion": ""}, {"nombre": "Accesibilidad Establecimientos", "nombre_normalizado":
        "accesibilidad_establecimientos", "tipo_de_geometria": "POINT", "fuente":
        "", "fecha_de_relevamiento": "", "descripcion": ""}, {"nombre": "Actividades
        para Chicos", "nombre_normalizado": "actividades_para_chicos", "tipo_de_geometria":
        "POINT", "fuente": "Subsecretar\u00eda de Turismo", "fecha_de_relevamiento":
        "Enero 2008", "descripcion": ""}, {"nombre": "Agencias de Viajes", "nombre_[...]
