---
http_interactions:
- request:
    method: get
    uri: https://servicios.usig.buenosaires.gob.ar/normalizar/?direccion=cabildo%201234&geocodificar=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"direccionesNormalizadas": [{"altura": 1234, "cod_calle": 3005, "cod_calle_cruce":
        null, "cod_partido": "caba", "coordenadas": {"srid": 4326, "x": "-58.448466",
        "y": "-34.568290"}, "direccion": "CABILDO AV. 1234, CABA", "nombre_calle":
        "CABILDO AV.", "nombre_calle_cruce": "", "nombre_localidad": "CABA", "nombre_partido":
        "CABA", "tipo": "calle_altura"}, {"altura": 1234, "cod_calle": 42094, "cod_calle_cruce":
        null, "cod_partido": "la_matanza", "coordenadas": {"srid": 4326, "x": -58.5025957510204,
        "y": -34.6813895693878}, "direccion": "Cabildo 1234, La Matanza", "nombre_calle":
        "Cabildo", "nombre_calle_cruce": "", "nombre_localidad": "Villa Madero", "nombre_partido":
        "La Matanza", "tipo": "calle_altura"}, {"altura": 1234, "cod_calle": 136378,
        "cod_calle_cruce": null, "cod_partido": "malvinas_argentinas", "coordenadas":
        {"srid": 4326, "x": -58.6719770333333, "y": -34.5045137141414}, "direccion":
        "Cabildo 1234, Malvinas Argentinas", "nombre_calle": "Cabildo", "nombre_calle_cruce":
        "", "nombre_localidad": "Ingeniero Adolfo Sourdeaux", "nombre_partido": "Malvinas
        Argentinas", "tipo": "calle_altura"}, {"altura": 1234, "cod_calle": 136378,
        "cod_calle_cruce": null, "cod_partido": "malvinas_argentinas", "coordenadas":
        {"srid": 4326, "x": -58.6719770333333, "y": -34.5045137141414}, "direccion":
        "Cabildo 1234, Malvinas Argentinas", "nombre_calle": "Cabildo", "nombre_calle_cruce":
        "", "nombre_localidad": "Villa de Mayo", "nombre_partido": "Malvinas Argentinas",
        "tipo": "calle_altura"}]}'
  recorded_at: Tue, 15 Sep 2026 18:35:08 GMT
- request:
    method: get
    uri: https://servicios.usig.buenosaires.gob.ar/normalizar/?direccion=xyzzy%20999&geocodificar=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"direccionesNormalizadas": [], "errorMessage": "Calle inexistente:
        xyzzy 999"}'
  recorded_at: Tue, 15 Sep 2026 18:35:08 GMT
recorded_with: VCR 6.4.0
