---
http_interactions:
- request:
    method: get
    uri: https://epok.buenosaires.gob.ar/reverseGeocoderLugares/?categorias=estaciones_de_subte&radio=500&x=-58.38157&y=-34.603738
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"totalFull": 5, "instancias": [{"headline": "TRIBUNALES - TEATRO COL\u00d3N
        (L\u00ednea D)", "nombre": "TRIBUNALES - TEATRO COL\u00d3N (L\u00ednea D)",
        "claseId": "estaciones_de_subte|1", "clase": "Estaci\u00f3n de Subte (Metro)",
        "id": "estaciones_de_subte|8", "distancia": "405.68"}, {"headline": "LAVALLE
        (L\u00ednea C)", "nombre": "LAVALLE (L\u00ednea C)", "claseId": "estaciones_de_subte|1",
        "clase": "Estaci\u00f3n de Subte (Metro)", "id": "estaciones_de_subte|14",
        "distancia": "381.54"}, {"headline": "C. PELLEGRINI (L\u00ednea B)", "nombre":
        "C. PELLEGRINI (L\u00ednea B)", "claseId": "estaciones_de_subte|1", "clase":
        "Estaci\u00f3n de Subte (Metro)", "id": "estaciones_de_subte|21", "distancia":
        "78.90"}, {"headline": "DIAGONAL NORTE (L\u00ednea C)", "nombre": "DIAGONAL
        NORTE (L\u00ednea C)", "claseId": "estaciones_de_subte|1", "clase": "Estaci\u00f3n
        de Subte (Metro)", "id": "estaciones_de_subte|15", "distancia": "223.40"},
        {"headline": "9 DE JULIO (L\u00ednea D)", "nombre": "9 DE JULIO (L\u00ednea
        D)", "claseId": "estaciones_de_subte|1", "clase": "Estaci\u00f3n de Subte
        (Metro)", "id": "estaciones_de_subte|6", "distancia": "106.92"}], "total":
        5}'
  recorded_at: Tue, 15 Sep 2026 18:35:04 GMT
- request:
    method: get
    uri: https://epok.buenosaires.gob.ar/reverseGeocoderLugares/?categorias=estaciones_de_subte,farmacias&radio=500&x=-58.38157&y=-34.603738
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"totalFull": 24, "instancias": [{"headline": "Farmacia en CERRITO
        342", "nombre": "Farmacia[...]
[...]
