---
http_interactions:
- request:
    method: get
    uri: https://epok.buenosaires.gob.ar/getObjectContent/?id=sedes_de_comunas%7C4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"contenido": [{"nombreId": "nombre", "nombre": "Nombre", "posicion":
        "1", "valor": "Sede Comunal 4"}, {"nombreId": "direccion", "nombre": "Direcci\u00f3n",
        "posicion": "2", "valor": "BARCO CENTENERA del 2906 "}, {"nombreId": "telefonos",
        "nombre": "Tel\u00e9fonos", "posicion": "3", "valor": "4918-2243/1815/8920-4949
        9024 int 105"}, {"nombreId": "barrio", "nombre": "Barrio", "posicion": "4",
        "valor": "NUEVA POMPEYA"}, {"nombreId": "comuna", "nombre": "Comuna", "posicion":
        "5", "valor": "Comuna 4"}, {"nombreId": "tramites_y_servicios", "nombre":
        "Tr\u00e1mites y servicios", "posicion": "6", "valor": "<a href=\"https://buenosaires.gob.ar/jefaturadegabinete/atencion-ciudadana-y-gestion-comunal/gestion-comunal/comuna-4\"
        target=\"_blank\">P\u00e1gina web</a>"}, {"nombreId": "observaciones", "nombre":
        "Observaciones", "posicion": "7", "valor": ""}], "fechaAlta": "2013-10-08",
        "ubicacion": {"centroide": "POINT (103542.8167999996 97663.39549999985)",
        "tipo": "Punto"}, "fechaUltimaModificacion": "2024-04-11", "id": "sedes_de_comunas|4",
        "direccionNormalizada": "BARCO CENTENERA del 2906", "fechaActualizacion":
        "", "fuente": "USIG", "claseId": "sedes_de_comunas", "clase": "Sedes de Comunas",
        "idForaneo": "-1"}'
  recorded_at: Tue, 15 Sep 2026 18:49:39 GMT
- request:
    method: get
    uri: https://ws.usig.buenosaires.gob.ar/rest/convertir_coordenadas?output=lonlat&x=103542.8167999996&y=97663.39549999985
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tipo_resultado":"Ok","resultado":{"x":"-58.424656","y":"-34.650325"}}'
  recorded_at: Tue, 15 Sep 2026 18:49:40 GMT
recorded_with: VCR 6.4.0
