---
http_interactions:
- request:
    method: get
    uri: https://epok.buenosaires.gob.ar/getObjectContent/?id=dependencias_culturales%7C1635
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"contenido": [{"nombreId": "nombre", "nombre": "Nombre", "posicion":
        "1", "valor": "BIBLIOTECA ANMAT "}, {"nombreId": "_categoria", "nombre": "Categoria",
        "posicion": "2", "valor": "BIBLIOTECA"}, {"nombreId": "_subcategoria", "nombre":
        "Subcategoria", "posicion": "3", "valor": "ESPECIALIZADA GUBERNAMENTAL"},
        {"nombreId": "actividades secundarias", "nombre": "Actividades Secundarias",
        "posicion": "4", "valor": ""}, {"nombreId": "ventaonline", "nombre": "Venta
        Online", "posicion": "5", "valor": ""}, {"nombreId": "ventatelefonica", "nombre[...]
- request:
    method: get
    uri: https://ws.usig.buenosaires.gob.ar/rest/convertir_coordenadas?output=lonlat&x=107754.844597&y=102260.035915
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tipo_resultado":"Ok","resultado":{"x":"-58.378755","y":"-34.608867"}}'
  recorded_at: Tue, 15 Sep 2026 18:35:06 GMT
recorded_with: VCR 6.4.0
