---
http_interactions:
- request:
    method: get
    uri: https://epok.buenosaires.gob.ar/buscar/?limit=2&texto=san%20martin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"total": "2", "totalFull": "2", "clasesEncontradas": [{"nombreId":
        "Espacios Verdes P\u00fablicos -> Espacio Verde", "nombre": "Espacio Verde",
        "total": "1", "id": "espacios_verdes_publicos|1", "nombreNorm": "espacio_verde"},
        {"nombreId": "Estaciones de Ferrocarril -> Estaci\u00f3n de Ferrocarril",
        "nombre": "Estaci\u00f3n de Ferrocarril", "total": "1", "id": "estaciones_de_ferrocarril|1",
        "nombreNorm": "estacion_de_ferrocarril"}], "instancias": [{"nombre": "Plaza
        San Mart\u00edn", "id": "espacios_verdes_publicos|882", "clase": "Espacio
        Verde", "claseId": "espacios_verdes_publicos|1", "headline": "Plaza <em>San</em>
        <em>Mart\u00edn</em>"}, {"nombre": "Pilar (San Mart\u00edn) (L\u00ednea San
        Mart\u00edn)", "id": "estaciones_de_ferrocarril|67", "clase": "Estaci\u00f3n
        de Ferrocarril", "claseId": "estaciones_de_ferrocarril|1", "headline": "Pilar
        (<em>San</em> <em>Mart\u00edn</em>) (L\u00ednea <em>San</em> <em>Mart\u00edn</em>)"}]}'
  recorded_at: Tue, 15 Sep 2026 18:35:08 GMT
- request:
    method: get
    uri: https://epok.buenosaires.gob.ar/buscar/?categoria=estaciones_de_subte,estaciones_de_ferrocarril&texto=san%20martin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"total": "33", "totalFull": "33", "clasesEncontradas": [{"nombreId":
        "Estaciones de Ferrocarril -> Estaci\u0[...]
- request:
    method: get
    uri: https://epok.buenosaires.gob.ar/buscar/?categoria=estaciones_de_subte&texto=san%20martin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"total": "1", "totalFull": "1", "clasesEncontradas": [{"nombreId":
        "Estaciones de Subte -> Estaci\u00f3n de Subte (Metro)", "nombre": "Estaci\u00f3n
        de Subte (Metro)", "total": "1", "id": "estaciones_de_subte|1", "nombreNorm":
        "estacion_de_subte_(metro)"}], "instancias": [{"nombre": "SAN MARTIN (L\u00ednea
        C)", "id": "estaciones_de_subte|57", "clase": "Estaci\u00f3n de Subte (Metro)",
        "claseId": "estaciones_de_subte|1", "headline": "<em>SAN</em> <em>MARTIN</em>
        (L\u00ednea C)"}]}'
  recorded_at: Tue, 15 Sep 2026 18:35:09 GMT
- request:
    method: get
    uri: https://epok.buenosaires.gob.ar/buscar/?texto=garicoits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"total": "2", "totalFull": "2", "clasesEncontradas": [{"nombreId":
        "Espacios Verdes P\u00fablicos -> Espacio Verde", "nombre": "Espacio Verde",
        "total": "1", "id": "espacios_verdes_publicos|1", "nombreNorm": "espacio_verde"},
        {"nombreId": "Estaciones de Bicicletas -> Estaci\u00f3n de Bicicletas", "nombre":
        "Estaci\u00f3n de Bicicletas", "total": "1", "id": "estaciones_de_bicicletas|1",
        "nombreNorm": "estacion_de_bicicletas"}], "instancias": [{"nombre": "San Miguel
        de Garicoits", "id": "espacios_verdes_publicos|1146", "clase": "Espacio Verde",
        "claseId": "espacios_verdes_publicos|1", "headline": "San Miguel de <em>Garicoits</em>"},
        {"nombre": "260 - SAN MIGUEL DE GARICOITS", "id": "estaciones_de_bicicletas|239",
        "clase": "Estaci\u00f3n de Bicicletas", "claseId": "estaciones_de_bicicletas|1",
        "headline": "260 - SAN MIGUEL DE <em>GARICOITS</em>"}]}'
  recorded_at: Tue, 15 Sep 2026 18:35:09 GMT
- request:
    method: get
    uri: https://epok.buenosaires.gob.ar/buscar/?texto=plaza%20pe%C3%B1a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"total": "11", "totalFull": "11", "clasesEncontradas": [{"nombreId":
        "Bancos -> Banco", "nombre": "Banco", "total": "1", "id": "bancos|1", "nombreNorm":
      [...]
